@import "../../../../../assets/styles/app.scss";

textarea,
textarea:focus {
  background-color: $text_area_bg;
  color: white;
  border-radius: 20px;
  padding: 1.5rem;
}

h2 {
  margin: 1rem 0;
  margin-left: 0.8rem;
}
